{:aliases {:unused-vars {:extra-deps {clj-kondo/tools {:git/url "https://github.com/borkdude/clj-kondo"
                                                       :sha "dc388b01fdc29eb965e126ae9ffc229657faa333"
                                                       :deps/root "analysis"}}
                         :main-opts ["-m" "clj-kondo.tools.unused-vars"]}}}
